.container {
      font-family: 'Times New Roman', Times, serif; /* Fuente formal */
      width: 1000px;
      /* Ancho del contenedor principal */
      height: 700px;
      margin: 0 0;
      margin-top: 3px;
      margin-left: 3px;
      margin-right: 3px;
      margin-bottom: 3px;
      /* Centrar el contenedor en la página */
      text-align: center;
      /* Alinear el texto al centro */
   
      /* Borde para visualización */
      padding: 10px;
      /* Espaciado interior */
      font-size: 25px;
  }
  .tituloCurso {
      font-size: 40px;
      /* Tamaño de la fuente */
      margin-bottom: 20px;
      /* Espacio entre el título y el contenido */
      text-align: center;
  }

  .texto{
    font-size: 22px;
    margin-top: 25px;
    margin-left: 5px;
    margin-right: 25px;
  }
  
  .containerbac {
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width:1010px; /* Ajustar al ancho del contenedor padre 2480 x 3508 píxele*/
    
}

  
  .firmas {
      margin-bottom: 20px;
  }
  
  .firma {
      text-align: center;
      /* Alinear firma al centro */
      margin-top: 20px;
      /* Espacio uniforme entre cada firma */
      box-sizing: border-box;
      /* Incluir el borde en el ancho total */
  }
  
  .firma img {
      border-bottom: 1px solid #000;
      max-width: 135px;
      /* Ajustar la imagen al tamaño del contenedor */
      height: auto;
      /* Mantener la proporción de la imagen */
      display: block;
      /* Asegurar que la imagen sea un bloque para manejar el espacio correctamente */
      margin: 0 auto;
      /* Centrar la imagen */
  }
  
  .nombre-cargo {
      font-size: 15px;
      margin-top: 5px;
      /* Espacio entre nombre/cargo y firma */
  }
  
  .nombre-cargo p {
      margin: 0;
      /* Eliminar el margen predeterminado de los párrafos */
  }
  

  .espacio{
    margin-top: 40px;
  }

  .Otorgado{
    text-align: left;
    margin-left: 5px;

  }

  .nombreParticipante{
    text-align: center;
    font-size:30px ;
  }

  .unidades{
    text-align: center;
    font-size: 35px;
  }
  