<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{plantilla/plantilla2 :: head}">
    <title>Agregar Participantes</title>
</head>


<body>
<div id="wrapper">
    <!-- Sidebar -->
    <header th:replace="~{plantilla/plantilla2 :: sidebar}"></header>

    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <div class="container">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <div class="row justify-content-center">
                            <div class="col-lg-7">

                                <section class="signup-step-container">
                                    <div class="container">
                                        <div class="text-center">
                                            <h1 class="h4 text-gray-900 mb-4">
                                                <span th:text="${titulo}">Añadir Participantes a Evento</span>
                                            </h1>
                                        </div>
                                        <div class="row d-flex justify-content-center">
                                            <div class="col-md-8">
                                                <div class="wizard">
                                                    <div class="wizard-inner">
                                                        <ul class="nav nav-tabs" role="tablist">
                                                            <li role="presentation" class="active">
                                                                <a href="#step1" data-toggle="tab" aria-controls="step1"
                                                                   role="tab" aria-expanded="true">
                                                                </a>
                                                            </li>
                                                            <li role="presentation" class="disabled">
                                                                <a href="#step2" data-toggle="tab" aria-controls="step2"
                                                                   role="tab" aria-expanded="false">
                                                                </a>
                                                            </li>
                                                            <li role="presentation" class="disabled">
                                                                <a href="#step3" data-toggle="tab" aria-controls="step3"
                                                                   role="tab"  aria-expanded="false">
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>


                                                    <form id="wizardForm"
                                                          th:action="@{/excelP/{eventoId}(eventoId=${evento.idevento})}"
                                                          method="post"
                                                          enctype="multipart/form-data">
                                                        <div class="tab-content" id="main_form">
                                                            <!-- Paso 1 -->
                                                            <div class="tab-pane active" role="tabpanel" id="step1">
                                                                <div class="row justify-content-center">
                                                                    <label class="custom-label">Paso 1/3: Subir Excel</label>
                                                                    <input class="form-control" type="file"
                                                                           name="archivo" required
                                                                           accept=".csv, .xls, .xlsx">
                                                                    <input type="hidden" name="eventoId"
                                                                           th:value="${eventoId}">
                                                                </div>
                                                                <br>
                                                                <div th:if="${error}" class="alert alert-danger">
                                                                    <p th:text="${error}"></p>
                                                                </div>
                                                                <ul class="list-inline pull-right">
                                                                    <li>
                                                                        <button type="submit"
                                                                                class="btn btn-success">Subir
                                                                        </button>
                                                                    </li>
                                                                </ul>
                                                            </div>

                                                            <!-- Paso 2 -->
                                                            <div class="tab-pane" role="tabpanel" id="step2">
                                                                <div class="row justify-content-center">
                                                                    <label class="custom-label">Paso 2/3: Autoridades
                                                                        Identificadas</label>
                                                                    <small class="form-text text-muted">Se muestran las autoridades identificadas.</small>

                                                                </div>
                                                                <table class="table table-bordered" >
                                                                    <thead>
                                                                    <tr>
                                                                        <th>Nombre</th>
                                                                        <th>Cargo</th>
                                                                        <th>Firma</th>
                                                                        <th>Acciones</th>
                                                                    </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                    <tr th:each="autoridad : ${listaAutoridades}">
                                                                        <td th:text="${autoridad.paterno} +' '+ ${autoridad.materno}+' '+${autoridad.nombre}"></td>
                                                                        <td th:text="${autoridad.cargo!= null ? autoridad.cargo : 'Ninguno asignado'}"></td>
                                                                        <td th:text="${autoridad.imagenFirma!=null ? autoridad.imagenFirma : 'Ninguno asignado'}"></td>
                                                                        <td>
                                                                            <a th:href="@{/consultas/autoridades/editar/{idpersona}(idpersona=${autoridad.idpersona})}" class="btn btn-info btn-circle btn-sm">
                                                                                <i class="fas fa-edit"></i>
                                                                            </a>
                                                                            <a th:href="@{/consultas/autoridades/eliminar/{idpersona}(idpersona=${autoridad.idpersona})}"
                                                                               class="btn btn-danger btn-circle btn-sm">
                                                                                <i class="fas fa-trash"></i>
                                                                            </a>

                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                                <ul class="list-inline pull-right">
                                                                    <li>
                                                                        <button type="button"
                                                                                class="btn btn-info prev-step">Aniadir autoridad
                                                                        </button>

                                                                    </li>
                                                                    <li>
                                                                        <button type="submit"
                                                                                class="btn btn-success next-step">Siguiente
                                                                        </button>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="tab-pane" role="tabpanel" id="step3">
                                                                <div class="form-group">
                                                                    <label class="custom-label"> Paso 3/3: Generar Archivo</label>
                                                                    <small class="form-text text-muted">Deseas generar los certificados ahora?</small>
                                                                </div>
                                                                <br>
                                                                <div class="d-flex justify-content-between">
                                                                    <a th:href="@{/}" class="btn btn-info">Finalizar</a>

                                                                    <a class="btn btn-success">Generar Certificados</a>
                                                                </div>
                                                            </div>


                                                        </div>
                                                    </form>


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer th:replace="~{plantilla/plantilla :: footer}"></footer>

        <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" th:src="@{/js/steps.js}"></script>

</body>

</html>