<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{plantilla/plantilla :: head}"></head>
</head>

<body>
    <div id="wrapper">
        <!-- Sidebar -->
        <header th:replace="~{plantilla/plantilla :: sidebar}"></header>

        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <br>



                    <div class="card shadow mb-4">
                        <div class="card-header py-3 d-flex align-items-center justify-content-between">
                            <h4 class="m-0 font-weight-bold text-primary" th:text="${titulo}"></h4>
                            <a th:href="@{/crear}" class="btn btn-primary btn-sm">Agregar Evento</a>


                        </div>

                 
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Nombre</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="evento : ${listaeventos}">
                                        <td th:text="${evento.idevento}"></td>
                                        <td th:text="${evento.nombre}"></td>
                                        <td>
                                            <!-- Botón para editar evento -->
                                            <a th:href="@{/editar/{idevento}(idevento=${evento.idevento})}"
                                                class="btn btn-info btn-circle btn-sm">
                                                <i class="fas fa-edit"></i>
                                            </a>

                                            <!-- Botón para eliminar evento -->
                                            <a th:href="@{/eliminar/{idevento}(idevento=${evento.idevento})}"
                                                class="btn btn-danger btn-circle btn-sm">
                                                <i class="fas fa-trash"></i>
                                            </a>

                                            <!-- Formulario para agregar participantes -->
                                            <form action="/subirArchivo/excel" method="post"
                                                enctype="multipart/form-data">
                                                <input type="file" name="archivo" accept=".xls,.xlsx">
                                                <input type="hidden" name="eventoId" th:value="${evento.idevento}">
                                                <button type="submit" class="btn btn-primary btn-circle btn-sm">
                                                    <i class="fas fa-user-plus"></i>
                                                </button>
                                            </form>

                                           
                                            <!-- Botón para subir imagen -->
                                            <form action="/subirArchivo/imagen" method="post" enctype="multipart/form-data">
                                                <input type="file" name="imagen" accept="image/*">
                                                <input type="hidden" name="eventoId" th:value="${evento.idevento}">
                                                <button type="submit" class="btn btn-warning btn-circle btn-sm">
                                                    <i class="fas fa-image"></i> 
                                                </button>
                                            </form>
                                            
                                             <!-- Enlace para listar participantes por evento -->
                                             <a th:href="@{/listarParticipantesPorEvento/{id}(id=${evento.idevento})}"
                                             class="btn btn-success btn-circle btn-sm">
                                             <i class="fas fa-list"></i>
                                         </a>

                                            <!-- Botón para generar certificados -->
                                            <a th:href="@{/generarCertificados/{eventoId}(eventoId=${evento.idevento})}"
                                                class="btn btn-primary btn-circle btn-sm">
                                                <i class="fas fa-certificate"></i> 
                                            </a>


                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <p><br></p>
                        <!-- Muestra el mensaje de error si existe -->
                        <div th:if="${error}" class="alert alert-danger">
                            <p th:text="${error}"></p>
                        </div>




                    </div>
                </div>
            </div>



        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- End of Main Content -->

    <!-- Footer -->
    <footer th:replace="~{plantilla/plantilla :: footer}"></footer>

    <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

</html>