<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="plantilla/plantilla :: head"></head>

<body>
    <div id="wrapper">
        <!-- Sidebar -->
        <header th:replace="plantilla/plantilla :: sidebar"></header>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <h1 th:text="${titulo}"></h1>
                    <p th:text="${listaunidade}"></p>

                    <div class="card shadow mb-4">
                        <div class="card-header py-3 d-flex align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">Listado de Unidades!</h6>
                            <a th:href="@{/consultas/unidades/crear}" class="btn btn-primary btn-sm">Agregar Unidad</a>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Nombre</th>
                                            <th>Pertenece</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- Iterar sobre cada unidad y mostrar en la tabla -->
                                        <tr th:each="unidad : ${listaunidades}">
                                            <td th:text="${unidad.idunidad}"></td>
                                            <td th:text="${unidad.nombre}"></td>
                                            <td
                                                th:text="${unidad.unidadPadre != null ? unidad.unidadPadre.nombre : '0'}">
                                            </td>



                                            <td>
                                                <a th:href="@{/consultas/unidades/editar/{idunidad}(idunidad=${unidad.idunidad})}"
                                                    class="btn btn-info btn-circle btn-sm">
                                                    <i class="fas fa-edit"></i>
                                        
                                                </a>
                                                <a th:href="@{/consultas/unidades/eliminar/{idunidad}(idunidad=${unidad.idunidad})}"
                                                    class="btn btn-danger btn-circle btn-sm">
                                                    <i class="fas fa-trash"></i>
                                                <!-- Aquí puedes añadir botones o enlaces para acciones adicionales -->
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer th:replace="plantilla/plantilla :: footer"></footer>
            <!-- End of Footer -->
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

</html>