<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="file:///C:/workspace/app/src/main/resources/static/css/certificadostyle.css" rel="stylesheet">
  
</head>
<body>
    <div class="container">
        <div class="universidad">UNIVERSIDAD XXXX</div>
        <div class="carrera">CARRERA XXX</div>
        
        <div class="datos-persona">
            <p>Otorgado a:</p>
            <p>xxxxxx xxxxxx xxxxxx</p>
        </div>
        
        <div class="texto">
            <p>Por haber culminado satisfactoriamente los estudios en XXXXX. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce euismod sapien a urna rutrum, non mattis enim feugiat.</p>
        </div>
        
        <div class="firmas">
            <table style="width: 100%;">
                <tr>
                    <td style="text-align: center;">
                        <div class="firma">
                            <img src="{{firma1Placeholder}}" alt="Firma 1">
                            <div class="nombre-cargo">
                                <p>{{nombre1}}</p>
                                <p>{{cargo1}}</p>
                            </div>
                        </div>
                    </td>
                    <td style="text-align: center;">
                        <div class="firma">
                            <img src="{{firma2Placeholder}}" alt="Firma 2">
                            <div class="nombre-cargo">
                                <p>{{nombre2}}</p>
                                <p>{{cargo2}}</p>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        
        <div class="fecha">Fecha: 24 de junio de 2024</div>
    </div>
</body>
</html>
