<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="file:///C:/workspace/app/src/main/resources/static/css/certificadostyle.css" rel="stylesheet">
</head>
<body>
    <div class="containerbac" style="background-image: url('{{fondoPlaceholder}}');">
        <div class="container">
            <div class="unidades">
                <div >UNIDAD 1</div>
            <div >UNIDAD 2</div>

            </div>
            
            <div class="tituloCurso"> NOMBRE CURSO</div>

            <div class= "espacio"></div>
            
            <div>
                <div class="espacio"></div>
                <div class = "Otorgado">
                    <p>Otorgado a:</p>
                </div>
                <div class="nombreParticipante">
                    <p>xxxxxx xxxxxx xxxxxx</p>

                </div>
                
            </div>
            
            <div class="texto">
                <p>Por haber culminado satisfactoriamente los estudios en XXXXX. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce euismod sapien a urna rutrum, non mattis enim feugiat.</p>
            </div>
            
            <div class="firmas">
                <table style="width: 100%;">
                    <tr>
                        <td style="text-align: center;">
                            <div class="firma">
                                <img src="{{firma1Placeholder}}" alt="Firma 1">
                                <div class="nombre-cargo">
                                    <p>{{nombre1}}</p>
                                    <p>{{cargo1}}</p>
                                </div>
                            </div>
                        </td>
                        <td style="text-align: center;">
                            <div class="firma">
                                <img src="{{firma2Placeholder}}" alt="Firma 2">
                                <div class="nombre-cargo">
                                    <p>{{nombre2}}</p>
                                    <p>{{cargo2}}</p>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            
         
        </div>
    </div>
</body>
</html>
